body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(146, 202, 233);
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    height: 600px;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(113, 186, 219, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}